<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <script src="http://localhost:8000/socket.io/socket.io.js"></script> -->
    <script src="/js/client.js" type="module" ></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="row">
        <div class="profile-section">
            
        </div>
        <div class="post-section">
            <h1><%=data%></h1>
            <h2>Welcome to Social-Site</h2>
            <h2 id="welcome-msg"></h2>
        </div>
        <div class="chat-section">df</div>
    </div>


   
</body>
</html>