<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <script src="http://localhost:8000/socket.io/socket.io.js"></script> -->
    <script src="/js/client.js" type="module" ></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1> <%= data %> </h1>
   
    <div class="row">
        <div class="profile-section">
            <h2 style="text-align: center;margin-left:-60px">Profile</h2>
                
            <div id="profile-pic-div"></div>
            <div class="profile-content">
                <!-- <form action="/updateProfile" method="POST">   -->
                <table style="align-items: center;">

                    <tr>
                        <td><h4>Name</h4></td>
                        <td><h4 id="name"></h4></td>
                    </tr>
                    <tr>
                        <td><h4>Email</h4></td>
                        <td><h4 id="email"></h4></td>
                    </tr>
                    <tr>
                        <td><h4>Age</h4></td>
                        <td><h4 id="age"></h4></td>
                    </tr>
                    <tr>
                        <td><h4>Phone</h4></td>
                        <td><h4 id="phone"></h4></td>
                    </tr>
                    <tr>
                        <td><h4>City</h4></td>
                        <td><h4 id="city"></h4></td>
                    </tr>
                    <tr>
                        <td><h4>State</h4></td>
                        <td><h4 id="state"></h4></td>
                    </tr>
                </table>

                              
                    <!-- <button value="submit" name="updatebtn">Update Profile</button>                 -->
                <!-- </form> -->
            </div>
        </div>
        <div class="post-section">
            
            <h2>Welcome to Social-Site</h2>
            <h2 id="welcome-msg"></h2>

            <div class="post-div">
                <form action="/userPost" method="post">
                    <table>
                        <tr>
                            <td><textarea name="postMessage" id="post-message" cols="50" rows="2" placeholder="Write your post here..."></textarea></td>
                            <td><button type="submit" value="Submit" id="postbtn">Post</button></td>
                        </tr>
                    </table>
                </form>
            </div> 
            
            
        </div>
        <div class="chat-section">
            <form action="/logout" method="post">
                <button type="submit" value="Submit" id="logoutbtn">logout</button>
            </form>    
        </div>
    </div>


   <script src="../routes/route.js"></script>
</body>
</html>