<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="row">
        <div class="login-div">
            <h1>Login Here</h1>
            <form action="loginUser" method="POST" id="login-form">
                <table>
                    <tr>
                        <td><label for="username">Email</label></td>
                        <td><input type="text" name="email" id="email" ></td>
                    </tr>
                    <tr>
                        <td><label for="firstName">Password</label></td>
                        <td><input type="text" name="password" id="password"></td>
                    </tr>
                    
                    <tr>
                        <td></td>
                        <td><button type="submit" value="Submit" id="logiin-button">Login</button></td>
                    </tr>
                    <tr style="margin-top: 20px;">
                        <td><label>Create account ?</label></td>
                        <td><a class="redirect-page" href="./register">Register</a></td>
                    </tr>
                    
                </table>
            </form>


        </div>

    </div>
</body>
</html>